@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes possessed {
    0% {
      transform: translate(0, 0) rotate(0deg) scale(1);
    }
    10% {
      transform: translate(-0.2px, 0.2px) rotate(0.2deg) scale(1.01);
    }
    20% {
      transform: translate(0.3px, -0.2px) rotate(-0.2deg) scale(1.01);
    }
    22% {
      transform: translate(-0.2px, 0.3px) rotate(0.3deg) scale(1.01);
    }
    25% {
      transform: translate(0.2px, -0.3px) rotate(-0.2deg) scale(1.005);
    }
    30% {
      transform: translate(-0.1px, 0.2px) rotate(0.2deg) scale(1);
    }
    32% {
      transform: translate(0.2px, -0.1px) rotate(-0.2deg) scale(1);
    }
    34% {
      transform: translate(-0.1px, 0.3px) rotate(0.2deg) scale(1);
    }
    38% {
      transform: translate(0.2px, -0.3px) rotate(-0.2deg) scale(1);
    }
    42% {
      transform: translate(-0.2px, 0.1px) rotate(0.2deg) scale(0.995);
    }
    45% {
      transform: translate(0, 0) rotate(0deg) scale(1);
    }
  }
  .possessed {
    animation: possessed 8s infinite ease-in-out;
  }

  @keyframes brightnessPulse {
    0%,
    100% {
      filter: brightness(1);
    }
    50% {
      filter: brightness(1.01);
    }
  }
  .brightness-pulse {
    animation: brightnessPulse 12s ease-in-out infinite;
  }

  @keyframes glowPulse {
    0%,
    100% {
      box-shadow:
        0 0 2px 0.5px rgba(252, 211, 77, 0.08),
        0 0 4px 1px rgba(234, 179, 8, 0.04);
    }
    50% {
      box-shadow:
        0 0 4px 1px rgba(252, 211, 77, 0.12),
        0 0 6px 1.5px rgba(202, 138, 4, 0.08);
    }
  }
  .glow-pulse {
    animation: glowPulse 12s ease-in-out infinite;
  }

  @keyframes wavy {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-0.5px);
    }
  }
  .wavy {
    animation: wavy 10s ease-in-out infinite;
  }
}

